.container{
    padding: 5% 5%;
    display: flex;
    flex-direction: column;     
    height: 80vh;
}
.header{
    padding-bottom: 5%;
}
.title{
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
}
.description{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-active{
    width: 87px;
    height: 40px;
    background-color: #9098a3;
    color:#FFFBFE;
    border:none;
    border-radius: 50px;
    font-family: Inter;
    cursor: pointer;
}
.button-inactive{
    width: 87px;
    height: 40px;
    background-color: #e4e6e7;
    color:black;
    border:none;
    border-radius: 50px;
    font-family: Inter;
    cursor: pointer;
}
.button-add{
    height: 52px;
    width: 52px;
    border-radius: 100px;
    background-color: #081E34;
    cursor: pointer;
}
.image-add{
    width: 24px;
    height: auto;
}
.buttons-container{
    display: flex;
    gap:5%;
}
.title-to-do{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
.footear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 80px;
    margin-top: auto;
}
.footear-text-author{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color:#081E34;
}
.footear-text-credits{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color:#081E34;
    opacity: 0.5;
}