.trash-container{
    width: fit-content;
    height: fit-content;
    background-color: #E4E6E7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 5px 15px;
    top:100%;
    z-index: 1;
}
.trash-icon{
    width: 12px;
    height:12px;
}
.trash-text{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    color:#353535;
}
.trash-container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    cursor: pointer; 
}
.footear-text-author{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color:#081E34;
}
.footear-text-credits{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color:#081E34;
}